@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border-color: rgba(128, 128, 128, 0.562);
  --bg-color: gray;
}
.accordion {
  max-width: 1180px;
  margin: 0 auto;
}
.accordion-item {
  border-bottom: 1px solid var(--border-color);
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #73b6ff;
}
.accordion-header {
  cursor: pointer;
}
.accordion-title-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.accordion-header a {
  text-decoration: none;
  color: #73b6ff;
}
.accordion-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 0;
  padding: 0 10px;
  transition: max-height 0.5s ease, padding 0.5s ease;
  min-width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.toggle-icon {
  color: black;
  font-weight: 700;
  transition: transform 0.3s ease;
}
.accordion-item.active .toggle-icon {
  transform: rotate(0deg); /* '+' turns into '-' */
}
.accordion-item.active .accordion-content {
  padding: 10px;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
}
table {
  min-width: 700px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
.border-b {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

td {
  text-align: center;
  padding: 5px 0;
  font-size: 18px;
  font-family: "Gothic A1", sans-serif;
}
.opacity0 {
  opacity: 0;
}
.bold-and-bg {
  font-weight: 700;
  background-color: var(--bg-color);
  padding: 10px 0;
}

@media screen and (max-width: 550px) {
    .accordion-title-box h2 {
        font-size: 18px;
    }
    .accordion-title-box  a{
        font-size: 16px;
    }
    td{
        font-size: 14px;
    }
} 